---
import { SITE } from 'astrowind:config';
---

<a
  href="/about"
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap hover:text-primary transition-colors"
  style="color: var(--aw-color-text-heading);"
>
  {SITE?.name}
</a>
